<%- include('../partials/header') %>

<form action="/playlists/<%= playlist.id %>?_method=PUT" method="POST" autocomplete="off">
    name: <input type="text" name="name" value="<%= playlist.name %>"> <br>
    description: <input type="text" name="description" value="<%= playlist.description %>">
    <button type="submit">Update Playlist</button>
</form>

<%- include('../partials/footer') %>