<%- include('../partials/header') %>
<center>
<h2>Playlists</h2><h1>
<a class="icon-link" href="/playlists/new">
<i class="bi bi-plus-circle-fill"></i>
</a>
</h1>
</center>


<ul>
    <% playlists.forEach(function(playlist) { %>
        <li>
            <form action="/playlists/<%= playlist.id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form>
            <a href="/playlists/<%= playlist.id %>">
                <%= playlist.name %>
            </a>
        </li>
        <% }); %>
</ul>

<%- include('../partials/footer') %>