<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Header -->
            <div class="text-center mb-3">
                <h1>Playlists</h1>
                <a href="/playlists/new">
                    <button type="submit" class="btn-circle">+</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Table -->
            <div class="table-wrapper">
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th scope="col" class="sticky-header">Playlist Name</th>
                            <th scope="col" class="sticky-header">Created By</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Add your table rows dynamically here -->
                        <% playlists.forEach(function(playlist) { %>
                        <tr>
                            <td scope="row">
                                <a href="/playlists/<%= playlist.id %>">
                                    <%= playlist.name %>
                                </a>
                            </td>
                            <td scope="row">
                                    <%= playlist.user %>
                            </td>
                            <td scope="row">
                                <form action="/playlists/<%= playlist.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger">remove</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




 

<%- include('../partials/footer') %>